header{
    max-width: 48rem;
    width: 100%;
    margin-left: calc(60px + 35px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.25rem 0 1.5625rem;
}
.logo{
    font-family: 'Koulen', sans-serif;
    font-size: 1.5625rem;
}
.search-box{
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #FFF;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.20);
    max-width: 300px;
    width: 100%;
    padding: .625rem .9375rem;
}
.search-box .bx{
    font-size: 1.125rem;
    color: #949494;
}
.search-box input{
    color: #000;
    width: 100%;
    font-size: .875rem;
    border: 0;
    outline: 0;
}
.search-box input::placeholder{
    color: #949494;
}