.sidebar{
    float: left;
    width: 3.75rem;
    height: 100vh;
    background: #fff;
    padding: .9375rem .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.sidebarContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.sidebarLink{
    font-size: 1.25rem;
    color: #A6A6A6;
    cursor: pointer;
    transition: 300ms linear;
}
.sidebarLink:hover{
    color: #363636;
}
.sidebarLink .bx.active{
    color: #363636;
    padding: .3125rem;
    width: 100%;
    background: #EEF2F5;
    border-radius: 5px;
}